@*<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Meal.Food.Title</h2>
        </div>
        <form class="dialog-body">
            <div>
                <EditForm Model="Meal">
                    <div class="LeoCustom">
                        <label for="reps" class="col-md-2 col-form-label">Quantity:</label>
                        <div class="col-md-10">
                            <InputNumber id="reps" @bind-Value="Meal.Food.Quantity" />
                        </div>
                    </div>
                    <div class="LeoCustom">
                        <label for="sets" class="col-md-2 col-form-label">Weight(grams):</label>
                        <div class="col-md-10">
                            <InputNumber id="sets" @bind-Value="Meal.Food.WeightGrams" />
                        </div>
                    </div>
                </EditForm>
                <style>
                    .LeoCustom {
                        margin-bottom: 1rem;
                        display: inline-block;
                        flex-wrap: wrap;
                    }
                </style>
                <span class="size-label">
                    Protein: <span class="price">@(Meal.Food.CalculateProtein())</span>
                    Carbs: <span class="price">@(Meal.Food.CalculateCarbs())</span>
                    Fats: <span class="price">@(Meal.Food.CalculateFats())</span>
                </span>
            </div>
        </form>

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
            <span class="mr-center">
                Calories: @(Meal.Food.CalculateCalories())
            </span>
            <button class="btn btn-success ml-auto" @onclick="OnConfirm">Save ></button>
        </div>
    </div>
</div>
@code {
    [Parameter] public Meal Meal { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
}*@