@foreach (var meal in TrainingDay.Meals)
{
    <p>
        <strong>
            @meal.Food.Title
            Grams: @meal.Food.WeightGrams g
        </strong>
    </p>

    <span>Selected product nutrition values </span>
    <ul>
        <li>Calories Per 100G: @meal.Food.CaloriesPer100</li>
        <li>Carbohydrates Per 100G: @meal.Food.CarbsPer100</li>
        <li>Protein Per 100G: @meal.Food.ProteinPer100</li>
        <li>Fats Per 100G: @meal.Food.FatsPer100</li>
    </ul>

    <span>Your body consumed</span>
    <ul>
        <li>Calories: @meal.Food.CalculateCalories()</li>
        <li>Carbohydrates: @meal.Food.CalculateCarbs() g</li>
        <li>Protein: @meal.Food.CalculateProtein() g</li>
        <li>Fats: @meal.Food.CalculateFats() g</li>
    </ul>
}
<p>
    <ul>
        <li>
            <strong>
                Overall Calories per Day
            </strong>
            @TrainingDay.GetMealsTotalCalories()
        </li>
        <li>
            <strong>
                Overall Carbohydrates per Day
            </strong>
            @TrainingDay.GetMealsTotalCarbs()
        </li>
        <li>
            <strong>
                Overall Protein per Day
            </strong>
            @TrainingDay.GetMealsTotalProtein()
        </li>
        <li>
            <strong>
                Overall Fats per Day
            </strong>
             @TrainingDay.GetMealsTotalFats()
        </li>
    </ul>
</p>

@code {
    [Parameter] public TrainingDay TrainingDay { get; set; }
}